@import 'tailwindcss';

:root {
	color-scheme: dark;
}

body {
	font-family:
		'SF Mono',
		'Fira Code',
		'Consolas',
		monospace;
	background: #000;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
